body {
    background-color: #ffffff;
    margin: 0;
    font-family: "Anek Malayalam", sans-serif;
}
header {
    display: flex;
    padding-top: 4vw; 
    padding-bottom: 10px; 
    position: absolute;
    margin-top:-61vw;
    right: 3vw;
}
 nav ul li {
    font-size: 3vw;   
    margin: 1vw 2vw;
    list-style: none;
    display: inline-block;
}
 nav ul li a{
    text-decoration:none;
    color: #9BC53D;
    position: relative;
}
 nav ul li a::after {
    content: '';
    width: 0;
    height: 4px;
    background:#DC1338;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
 nav ul li a:hover::after {
    width: 100%;
}

main {
    color: black;
}
#text-container {
    position: absolute;
    margin-top:-48vw;
    font-family: "Aclonica", sans-serif;
}
#picture-section p {
    color: white;
    font-size: 2vw;
    margin: 0;
    margin-left: 43vw;
    padding-top: 4vw;
}
#picture-section #p-nopadding {
    padding-top:0;
}
h1 {
    color: white;
    font-size: 7vw;
    margin:0;
    margin-left: 46vw;
}
 p#name {
    position: absolute;
    margin-top:-12vw;
    font-size: 3vw;
    right: 4vw;
}
.highlight {
    color: #9BC53D; 
}
h2 {
    margin: 0;
    text-align: center;
    padding: 4vw;
    font-size: 3vw;
    color:white;
    font-family: "Aclonica", sans-serif;
}
.tab-titles {
    color:#9BC53D;
    display: flex;
    margin: 20px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight:500;
    cursor: pointer;
    position:relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #DC1338;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
width: 50%;
}
.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
color: #DC1338;
font-size:14px ;
}
.tab-contents{
    display:none ;
}
.tab-contents.activate-tab{
    display: block;
}
/* -------mywork--------------------- */
h3 {
    margin: 0;   
}
#picture-section {
    background-image: url(eder-large.jpg);
    background-size: contain;
    background-position: left top;
    height: 0; /* Set the container height to full viewport height */
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 56.17%;
}
#info {
    background: black;
    color:white;
    height: 50vw;
}
#services {
    background: linear-gradient(black 20%, #DC1338 80%);
    height: 90vh;

}
.white {
    height: 500px;
}
.categories {
    background-color: #000000; 
    height: 100px;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* --------------mywork---------------- */
#mywork {
    background: white;
    height: 100vh;
}
/* -------------------movememnt------------- */
.example-right {
    white-space: nowrap;
    position: absolute;
    opacity: .6;
    text-transform: uppercase;
    -webkit-animation: urmove 8s linear infinite; /* Safari 4.0 - 8.0 */
    white-space: nowrap;
    animation: urmove 8s linear infinite alternate;
  }`
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes urmove {
    from {
      right: 0;
    }
    to {
      right: -140px;
    }
  }
  
  @keyframes urmove {
    from {
      right: 0;
    }
    to {
      right: -140px;
    }
  }