body {
    background-color: #ffffff;
    margin: 0;
    font-family: "Anek Malayalam", sans-serif;
}
header {
    display: flex;
    padding-top: 4vw; 
    position: absolute;
    margin-top:-61vw;
    right: 3vw;
}
 nav ul li {
    font-size: 2vw;   
    margin: 1vw 2vw;
    list-style: none;
    display: inline-block;
}
 nav ul li a{
    text-decoration:none;
    color: #9BC53D;
    position: relative;
}
 nav ul li a::after {
    content: '';
    width: 0;
    height: .3vw;
    background:#DC1338;
    position: absolute;
    left: 0;
    bottom: -.1vw;
    transition: 0.5s;
}
 nav ul li a:hover::after {
    width: 100%;
}

main {
    color: black;
}
#text-container {
    position: absolute;
    margin-top:-48vw;
    font-family: "Aclonica", sans-serif;
}
#picture-section p {
    color: white;
    font-size: 2vw;
    margin: 0;
    margin-left: 43vw;
    padding-top: 4vw;
}
#picture-section #p-nopadding {
    padding-top:0;
}
h1 {
    color: white;
    font-size: 7vw;
    margin:0;
    margin-left: 46vw;
}
 p#name {
    position: absolute;
    margin-top:-12vw;
    font-size: 3vw;
    right: 4vw;
}
.highlight {
    color: #9BC53D; 
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    color: black;
    margin: 10vw 0vw;
    cursor: pointer;
}
.services-list div {
    background: #DC1338;
    font-size: 1.5vw;
    font-weight: 300;
    border-radius: 10%;
    transition: background 0.5s, transform 0.5s;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}
.services-list a {
    color:white;
}
.services-list div h2 {
    font-size:2.5vw;
    font-weight:500 ; 
    text-align: center;
    font-family: "Aclonica", sans-serif;
}
.services-list div:hover{
    background: #9BC53D;
    transform: translateY(-1.5vw);
}
h4 {
    margin: 0;
    text-align: center;
    padding: 4vw;
    font-size: 3vw;
    color:white;
    font-family: "Aclonica", sans-serif;
}
.tab-titles {
    color:#9BC53D;
    display: flex;
    justify-content: center;
}
.tab-links:hover {
font-size: 2.6vw;
color: #ffffff;
}
.tab-links {
    font-size: 2.5vw;
    font-weight:500;
    cursor: pointer;
    position:relative;
    margin-left: 8vw;
}
.tab-links::after{
    content: '';
    width: 0;
    height: .3vw;
    background: #DC1338;
    position: absolute;
    left: 0;
    bottom: -.1vw;
    transition: 0.5s;
}
.tab-links.active-link::after{
width: 50%;
}
.tab-contents ul li {
    list-style: none;
    margin: 1vw 0;
    font-size: 2vw;
}
.tab-contents ul li span{
color: #DC1338;
font-size:1.5vw;
}
.tab-contents{
    display:none ;
}
.tab-contents.active-tab{
    display: block;
}
/* -------mywork--------------------- */

#picture-section {
    background-image: url(/images/e347.webp);
    background-size: 100%;
    background-position: top left;
    height: 0; /* Set the container height to full viewport height */
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 56.17%;
    background-attachment: fixed;
}
#info {
    background: black;
    color:white;
    height: 50vw;
    text-align: center;
    transform-style: preserve-3d;
}
#services {
    background: linear-gradient(black 20%, #DC1338 80%);
    padding: 5vw;   
}
/* --------------mywork---------------- */
#mywork {
    background: white;
    height: 100%;
    text-align: center;
}
h3 {
    font-family: "Aclonica", sans-serif;
    font-size: 4vw;
    margin-left: 5vw;
    text-align: left;
}
#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
    height: 70vw;
    margin: 5vw;
}
#one {
    grid-column: 1 / 2; /* Spans from column 1 to 2 */
    grid-row: 1 / 2; /* Spans from row 1 to 2 */
    border-radius: 2vw;
    background-image: url('/images/crigslistcut.jpg'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire button */
    background-position: center top;
    border: none;
}
#two {
    grid-column: 2 / 3; /* Spans from column 1 to 2 */
    grid-row: 1 / 2; /* Spans from row 1 to 2 */
    background-image: url('/images/youtube.png'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire button */
    background-position: center top;
    border: none;
    border-radius: 2vw;
}
#three {
    grid-column: 3 / 4; /* Spans from column 1 to 2 */
    grid-row: 1 / 2; /* Spans from row 1 to 2 */
    background-image: url('/images/kaloriecut.jpg'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire button */
    background-position: center top;
    border: none;
    border-radius: 2vw;
}
#four {
    grid-column: 1 / 2; /* Spans from column 1 to 2 */
    grid-row: 2 / 4; /* Spans from row 1 to 2 */
    background-image: url('/images/freedom.jpg'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire button */
    background-position: center top;
    border: none;
    border-radius: 2vw;
}
#five {
    grid-column: 2 / 4; /* Spans from column 1 to 2 */
    grid-row: 2 / 4; /* Spans from row 1 to 2 */
    background-image: url('/images/fluentflowcut.jpg'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire button */
    background-position: center top;
    border: none;
    border-radius: 2vw;
}
#six {
    position: relative; /* Ensure the anchor is positioned relative for absolute positioning of the video */
    display: block; /* Ensure it behaves as a block element */
    grid-column: 2/3;
    grid-row: 4/5;
    border-radius: 2vw;
    border: none;
    overflow: hidden; /* Ensure content inside the anchor is clipped */
}
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire element */
    
}
#seven {
    grid-column: 3/ 4; /* Spans from column 1 to 2 */
    grid-row: 4/ 5; /* Spans from row 1 to 2 */
    border-radius: 2vw;
    background-image: url('/images/TimeLeftcut.jpg'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire button */
    background-position: center top;
    border: none;
}
#eight {
    grid-column: 1/ 2; /* Spans from column 1 to 2 */
    grid-row: 4/ 5; /* Spans from row 1 to 2 */
    border-radius: 2vw;
    background-image: url('/images/petme-medium.png'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire button */
    background-position: center top;
    border: none;
}
#mywork button {
    background: black;
    font-family: "Aclonica", sans-serif;
    text-align: center;
    border-radius: 2vw;
    height: 4vw;
    width: 14vw;
    font-size: 1.4vw;
    margin-bottom: 5vw;
    box-shadow: -.5vw -.5vw .5vw 0px #9BC53D;
    position: relative;
    transition: box-shadow 0.5s,background 0.5s,transform 0.5s;
}
#mywork button:hover{
    box-shadow: .5vw .5vw .5vw 0px #9BC53D;
    transform: translate(-10px,-10px);
    background: black;
    color:white;
  }
  a:active{
    transform: translateY(10px);
  }
#mywork button a {
    text-decoration: none;
    color:#9BC53D;
}
#mywork button a:hover {
    color:white;
    text-decoration: none;
}
/* ---------------footer--------------------------- */
footer {
    background: black;
    display: flex;
    flex-direction: column;
}
footer div h5 {
    color: #9BC53D;
    font-size: 1.5vw;
    font-family: "Aclonica", sans-serif;
    margin-top: .5vw;
    margin-bottom: .5vw;  
}
footer div p {
    color:#9BC53D;
    text-align: left;
    margin: 0;
    font-size: 1.2vw;
}
footer div p:hover {
    color:white;
    cursor: pointer;
}
#footer-info {
    display: flex;
    margin-left: 60vw;
    margin-top: .8vw;
    margin-bottom: 0;
}
#follow {
    margin-left: 5vw;
}
#last {
    color: white;
    text-align: center;
    margin: 1vw;
    margin-right: 10vw;
    margin-left:10vw ;
    font-size: 1.5vw;
    border-top:#9BC53D 1px solid;
}
#linkedin {
    color:#9BC53D;
    text-align: left;
    margin: 0;
    font-size: 1.2vw;
    text-decoration: none;
    
}
#linkedin:hover {
    color:white;
    cursor: pointer;
}
#behance {
    color:#9BC53D;
    text-align: left;
    margin: 0;
    font-size: 1.2vw;
    text-decoration: none;
    display: block;
    
}
#behance:hover {
    color:white;
    cursor: pointer;
}
/* -------------------------------mobile-------------------------- */
@media (max-width: 768px) {
    nav ul li {
        font-size: 5vw;  
    }
    p#name {
        font-size: 4vw;
    }
    h4 {
        font-size: 5vw;
    }
    .tab-links {
        font-size: 4.5vw;
    }
    .tab-links:hover {
        font-size: 4.6vw;
    }
    .tab-contents ul li { 
        font-size: 4vw;
    }
    .tab-contents ul li span{
        font-size:3.5vw;
        }
    h3 {
            font-size: 6vw;
        }
        footer div h5 {
            font-size: 3.5vw;
        }
        footer div p {
            font-size: 3.2vw;
        }
        #linkedin {
            font-size: 3.2vw;
        }
        #behance {
            font-size: 3.2vw;
        }
        #last {
            font-size: 3.5vw;
        }
        #footer-info {
            margin-left: 38vw;
            margin-top: 2vw;
            margin-bottom: 1vw;
        }
        #mywork button {
            border-radius: 4vw;
            height: 8vw;
            width: 30vw;
            font-size: 3.4vw;
        }
        #info {
            height: 85vw;
        }
        #services {
            height: 85vw;
        }
        .services-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            height: 70vw;
        }
        #clickable-div-ux {
            grid-column: 1 / 3;
            grid-row: 1/3;
        }
        #clickable-div-web {
            grid-column: 3 / 5;
            grid-row: 1/3;
        }
        #clickable-div-dev {
            grid-column: 1 / 3;
            grid-row: 3/5;
        }
        #clickable-div-graphic {
            grid-column: 3 / 5;
            grid-row: 3/5;
        }
        .services-list div h2 {
            font-size:4.5vw;
        }
        .services-list a {
            font-size: 3.5vw;
        }
        .services-list div {
            background: #9BC53D;
        }
        .services-list div:hover{
            background: #DC1338;
        }
}