body {
    margin: 0;
    font-family: "Anek Malayalam", sans-serif;
}/* ----------------header-------------- */
header {
    display: flex;
    position: absolute;
    right: 3vw;z-index: 1000;
}
 nav ul li {
    font-size: 2vw;   
    margin: 0vw 2vw;
    list-style: none;
    display: inline-block;
}
 nav ul li a{
    text-decoration:none;
    color: black;
    position: relative;
}
 nav ul li a::after {
    content: '';
    width: 0;
    height: .3vw;
    background:#DC1338;
    position: absolute;
    left: 0;
    bottom: -.1vw;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
.btn {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 2vw; 
    cursor: pointer;
  }
    /* --------------------main-------------------- */
main {
    background: linear-gradient(white, #DC1338);
    margin-top: 0;
    
}
h1 {
    margin: 0;
    padding: 12vw;
    padding-bottom: 3vw;
    padding-top: 6vw;
    font-family: "Aclonica", sans-serif;
    font-size: 6vw;
}
/* -------------------------grid---------------------- */
#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    height: 70vw;
    padding: 12vw;
    padding-top: 0;
    padding-bottom: 8vw;
    gap: 2vw;
}
#one {
    background: black;
    grid-column: 1/2;
    grid-row: 1/4;
    border-radius: 2vw;
    background-image: url('/images/timecutmedium.jpg'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire button */
    background-position: center top;
    border: none;
}
#two {
    background: black;
    grid-column: 2/3;
    grid-row: 1/4;
    border-radius: 2vw;
}
#three {
    grid-column: 3/4;
    grid-row: 1/4;
    border-radius: 2vw;
    background-image: url('/images/kaloriemedium.jpg'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire button */
    background-position: center top;
    border: none;
}
#four {
    grid-column: 1/2;
    grid-row: 4/7;
    border-radius: 2vw;
    background-image: url('/images/mediumcraislist.jpg'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire button */
    background-position: center top;
    border: none;
}
#five {
    background: black;
    grid-column: 2/3;
    grid-row: 4/7;
    border-radius: 2vw;
}
#seven {
    grid-column: 3/4;
    grid-row: 4/7;
    border-radius: 2vw;
    background-image: url('#'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire button */
    background-position: center top;
    border: none;
}
/* ---------------footer--------------------------- */
footer {
    background: black;
    display: flex;
    flex-direction: column;
}
footer div h5 {
    color: #9BC53D;
    font-size: 1.5vw;
    font-family: "Aclonica", sans-serif;
    margin-top: .5vw;
    margin-bottom: .5vw;  
}
footer div p {
    color:#9BC53D;
    text-align: left;
    margin: 0;
    font-size: 1.2vw;
}
footer div p:hover {
    color:white;
    cursor: pointer;
}
#footer-info {
    display: flex;
    margin-left: 60vw;
    margin-top: .8vw;
    margin-bottom: 0;
}
#follow {
    margin-left: 5vw;
}
#last {
    color: white;
    text-align: center;
    margin: 1vw;
    margin-right: 10vw;
    margin-left:10vw ;
    font-size: 1.5vw;
    border-top:#9BC53D 1px solid;
}